image:
  repository: openftth/mbtileserver
  tag: v0.9.0-v2

watcher:
  image: openftth/tile-watcher
  tag: v2.3.0
  enabled: false
  notificationServer:
    domain: notification-server
    port: 80
  fileServer:
    username: ""
    password: ""
    uri: ""
  tileProcess:
    destination: /data
    processes:
      - name: ""
        value: ""
  startupProbe:
    failureThreshold: 100

service:
  externalPort: 80
  type: ClusterIP

commandArgs:
  - "--enable-reload-signal"
  - "--disable-preview"
  - "--disable-svc-list"
  - "--disable-tilejson"
  - "-d"
  - "/data"
