apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Release.Name }}-account
      containers:
      - name: {{ .Release.Name }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        resources:
          requests:
            memory: {{ .Values.resources.memoryRequest }}
          limits:
            memory: {{ .Values.resources.memoryLimit }}
        volumeMounts:
          - name: {{ .Release.Name }}-database-volume
            mountPath: "/data"
          - name: {{ .Release.Name }}-appsettings-volume
            mountPath: /app/appsettings.json
            subPath: appsettings.json
      - name: {{ .Release.Name }}-web
        image: {{ .Values.sqliteWeb.image.repository }}:{{ .Values.sqliteWeb.image.tag }}
        resources:
          requests:
            memory: {{ .Values.sqliteWeb.resources.memoryRequest }}
          limits:
            memory: {{ .Values.sqliteWeb.resources.memoryLimit }}
        command: ["/bin/sh", "-c", "{{ .Values.sqliteWeb.command }}"]
        env:
          - name: SQLITE_WEB_PASSWORD
            value: {{ .Values.sqliteWeb.password}}
        ports:
          - containerPort: 8080
        volumeMounts:
          - name: {{ .Release.Name }}-database-volume
            mountPath: "/data"
      volumes:
        - name: {{ .Release.Name }}-database-volume
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-database-volume-claim
        - name: {{ .Release.Name }}-appsettings-volume
          secret:
            secretName: {{ .Release.Name }}-secret
            items:
            - key: appsettings
              path: appsettings.json
      restartPolicy: Always
