serviceType: NodePort
serviceAnnotations: {}

image:
  repository: daxgrid/pgbouncer
  tag: 1.15.0-1-1

resources:
  requests:
    memoryRequest: 100Mi
    memoryLimit: 150Mi

config:
  adminUsers: postgres
  listenAddress: "*"
  authType: "md5"
  databases:
    - host: postgres
      name: postgres
      port: 5432
  ssl:
    enabled: false
    key: ""
    cert: ""
    root: ""

userlist:
  - name: postgres
    password: postgres
