image:
  repository: openftth/aura-csv-work-import
  tag: v0.5.7

resources:
  memoryRequest: "150Mi"
  memoryLimit: "200Mi"

appsettings:
  settings:
    notificationServer:
      domain: notification-server
      port: 80
      fullFilePaths:
        - "/test-file-one.csv"
        - "/test-file-two.csv"
    fileServer:
      uri: http://file-server-go-http-file-server
      username: user1
      password: pass1
    eventStoreConnectionString: ""
