apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-{{ .Chart.Name }}
  labels:
    app: {{ .Release.Name }}-{{ .Chart.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-{{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-{{ .Chart.Name }}
    spec:
      containers:
      - name: {{ .Release.Name }}-{{ .Chart.Name }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        readinessProbe:
          exec:
            command:
            - cat
            - /tmp/healthy
          initialDelaySeconds: 15
          periodSeconds: 5
        livenessProbe:
          exec:
            command:
            - cat
            - /tmp/healthy
          initialDelaySeconds: 15
          periodSeconds: 15
        env:
        - name: LOGGING__LOGLEVEL_DEFAULT
          value: {{ .Values.loglevel }}

        - name: KAFKA__CONSUMER
          value: {{ .Values.kafka.consumer }}
        - name: KAFKA__SERVER
          value: openftth-kafka-cluster-kafka-bootstrap:9092
        - name: KAFKA__POSITIONCONNECTIONSTRING
          valueFrom:
            secretKeyRef:
              key: kafkaPositionConnectionString
              name: {{ .Release.Name }}-{{ .Chart.Name }}-secret
        - name: KAFKA__TOPIC
          value: {{ .Values.kafka.topic }}

        - name: TYPESENSE__HOST
          value: {{ .Values.typesense.host }}
        - name: TYPESENSE__PORT
          value: "{{ .Values.typesense.port }}"
        - name: TYPESENSE__PROTOCOL
          value: {{ .Values.typesense.protocol }}
        - name: TYPESENSE__APIKEY
          valueFrom:
            secretKeyRef:
              key: typesenseApiKey
              name: {{ .Release.Name }}-{{ .Chart.Name }}-secret
      restartPolicy: Always
