apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-{{ .Chart.Name }}
  labels:
    app: {{ .Release.Name }}-{{ .Chart.Name }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ .Release.Name }}-{{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-{{ .Chart.Name }}
    spec:
      containers:
      - name: {{ .Release.Name }}-{{ .Chart.Name }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        readinessProbe:
          exec:
            command:
            - cat
            - /tmp/healthy
          initialDelaySeconds: 30
          timeoutSeconds: 10
          periodSeconds: 10
          failureThreshold: 50
        livenessProbe:
          exec:
            command:
            - cat
            - /tmp/healthy
          initialDelaySeconds: 30
          timeoutSeconds: 10
          failureThreshold: 50
        env:
        - name: LOGGING__LOGLEVEL_DEFAULT
          value: {{ .Values.loglevel }}

        - name: TYPESENSE__HOST
          value: {{ .Values.typesense.host }}
        - name: TYPESENSE__PORT
          value: "{{ .Values.typesense.port }}"
        - name: TYPESENSE__PROTOCOL
          value: {{ .Values.typesense.protocol }}
        - name: TYPESENSE__APIKEY
          valueFrom:
            secretKeyRef:
              key: typesenseApiKey
              name: {{ .Release.Name }}-{{ .Chart.Name }}-secret

        - name: EVENTSTORE__CONNECTIONSTRING
          value: "{{ .Values.eventStore.ConnectionString }}"

      restartPolicy: Always
