image:
  repository: openftth/go-http-file-server
  tag: v1.12.0

replicas: 1
port: 80
serviceType: NodePort

storage:
  className: ""
  size: 4Gi
  path: /data

username: user1
password: pass1

fileWatcher:
  image: openftth/file-watcher-kafka
  tag: v1.1.2
  kafka:
    consumer: file_watcher_kafka
    server: openftth-kafka-cluster-kafka-bootstrap:9092
    topic: notification.file-changes
  watch:
    directory: "/data"

