image:
  repository: openftth/go-http-file-server
  tag: v1.19.1

resources:
  memoryRequest: 200Mi
  memoryLimit: 250Mi

replicas: 1
port: 80
serviceType: ClusterIP

storage:
  className: ""
  size: 4Gi
  path: /data

commandLineArgs: ""

fileWatcher:
  image: openftth/file-change-notificator
  tag: v0.6.1
  resources:
    memoryRequest: 100Mi
    memoryLimit: 125Mi
  appsettings:
    settings:
      watchDirectory: "/data"
      notificationServerDomain: "notification-server"
      notificationServerPort: 80
