image:
  repository: openftth/go-http-file-server
  tag: v1.15.5_v4

resources:
  memoryRequest: 200Mi
  memoryLimit: 250Mi

replicas: 1
port: 80
serviceType: NodePort

storage:
  className: ""
  size: 4Gi
  path: /data

username: user1
password: pass1

fileWatcher:
  image: openftth/file-watcher-kafka
  tag: v1.2.0
  resources:
    memoryRequest: 100Mi
    memoryLimit: 125Mi
  kafka:
    server: openftth-kafka-cluster-kafka-bootstrap:9092
    topic: notification.file-changes
  watch:
    directory: "/data"

