username: postgres
password: postgres

serviceType: ClusterIP

image:
  repository: openftth/postgis
  tag: 16-3.4

volumeClaim:
  storageClassName: ""
  storage: 10Gi

resources:
  requests:
    memory: 1Gi

serviceAnnotations: {}

maxConnections: 300
sharedBuffers: "256MB"

sslEnabled: false
rootCertificate: ""
serverCertificate: ""
serverKey: ""
postgresDatabaseName: "OPEN_FTTH"
