username: postgres
password: postgres

serviceType: ClusterIP

image:
  repository: openftth/postgis
  tag: 16-3.4

volumeClaim:
  storageClassName: ""
  storage: 10Gi

resources:
  requests:
    memory: 1Gi

serviceAnnotations: {}

maxConnections: 100
sharedBuffers: "128MB"
effectiveCacheSize: "4096MB"
effectiveIoConcurrency: 10

sslEnabled: false
rootCertificate: ""
serverCertificate: ""
serverKey: ""
postgresDatabaseName: "OPEN_FTTH"
