image:
  repository: daxgrid/topology-job-operator
  tag: v0.1.0

imgPullSecret: regcred

resources:
  memoryRequest: 125Mi
  memoryLimit: 150Mi

appsettings:
  settings:
    inCluster: true
    jobPollingIntervalMs: 60000
    authenticationApi:
      baseUri: ""
      username: "my-username"
      password: "my-password"
      maxRetries": 10
      retryIntervalMs": 500
    topologyJobApi:
      baseUri: ""
      maxRetries: 10
      retryIntervalMs: 500
    job:
      podNamePrefix: "my-awesome-job"
      podNamespace: "my-namespace"
      podContainerImage: "openftth/file-operator-dummy-job:v1.1.0"
      podCommand: null
      podArgs: null
      memoryRequest: "250Mi"
      memoryLimit: "300Mi"
