image:
  repository: daxgrid/topology-job-operator
  tag: v0.6.3

imgPullSecret: regcred

resources:
  memoryRequest: 125Mi
  memoryLimit: 150Mi

appsettings:
  settings:
    inCluster: true
    jobPollingIntervalMs: 60000
    tenantId: ""
    authenticationEnabled: true
    authenticationApi:
      baseUri: ""
      username: "my-username"
      password: "my-password"
      scope: ""
    topologyJobApi:
      baseUri: ""
    job:
      podNamePrefix: "my-awesome-job"
      podNamespace: "my-namespace"
      podContainerImage: "openftth/file-operator-dummy-job:v1.1.0"
      podCommand: null
      podArgs: null
      memoryRequest: "250Mi"
      memoryLimit: "300Mi"
