image:
  repository: daxgrid/new-file-job-operator
  tag: v0.10.0

resources:
  memoryRequest: 125Mi
  memoryLimit: 150Mi

# Example MD5 sum.
# Example command to get config checksum of a folder:
# tar cf - ./ | md5sum | awk '{print $1}'
configChecksum: "2f74b553c147fa80d9f9748f5cbfe32b"

# Example MD5 sum.
# Example command to get appsettings checksum of a folder:
# tar cf - ./ | md5sum | awk '{print $1}'
appsettingsCheckChecksum: "eb706580f72dcf6db1696e6f4d6d41ea"

appsettings:
  settings:
    inCluster: true
    outputUri: "https://example.com/output"
    fileServer:
      username: "example_user"
      password: "example_password"
      domain: "http://file-server-go-http-file-server.default"
      pollingPath: "/"
      pollingIntervalMs: 500
      pollingRetryIntervalMs: 500
      pollingRetryMaxCount: 600
    job:
      podNamePrefix: "my-awesome-job"
      podNamespace: "my-namespace"
      podContainerImage: "openftth/file-operator-dummy-job:v1.1.0"
      podCommand: null
      podArgs: null
      memoryRequest: "250Mi"
      memoryLimit: "300Mi"
