image:
  repository: openftth/open-ftth-backup
  tag: v0.3.0

schedule: "0 0 * * *"
restartPolicy: Never
backoffLimit: 0

resources:
  memoryRequest: 125Mi
  memoryLimit: 150Mi

appsettings:
  settings:
    uploadPath: backups
    postgresBackups:
      - connection:
          hostAddress: "my-first-host"
          port: 5432
          username: "postgres"
          password: "postgres"
        dumpFilenamePrefix: MY_FIRST_DUMP_FILE_PREFIX_NAME
      - connection:
          hostAddress: "my-second-host"
          port: 5432
          username: "postgres"
          password: "postgres"
        databaseNames:
          - "my_first_database_name"
          - "my_second_database_name"
        dumpFilenamePrefix: MY_SECOND_DUMP_FILE_PREFIX_NAME
    fileServer:
      hostAddress: "http://my-http-file-server"
      username: user1
      password: pass1
