image:
  repository: daxgrid/cim-flow-cluster-cleaner
  tag: v0.2.7

schedule: "0 0 * * 0"
restartPolicy: Never
backoffLimit: 0

resources:
  memoryRequest: 100Mi
  memoryLimit: 125Mi

appsettings:
  settings:
    inCluster: true
    podNamespace: ""
    podNamePrefix: ""
    maxJobCount: 5
    fileServerUrl: "https://my-file-server.com"
    fileServerUsername: "my_username"
    fileServerPassword: "my_password"
    outputPath: "output"
    archivePath: "archive"
    maxFilesCount: 7
