image:
  repository: openftth/cluster-log-collector
  tag: v0.3.2

resources:
  memoryRequest: 200Mi
  memoryLimit: 250Mi

volumeClaim:
  storageClassName: ""
  storage: 4Gi

appsettings:
  settings:
    inCluster: true
    databaseLocation: "/data/"
    namespacesToWatch: []
