image:
  repository: openftth/cluster-log-collector
  tag: v0.7.1

resources:
  memoryRequest: 200Mi
  memoryLimit: 250Mi

volumeClaim:
  storageClassName: ""
  storage: 4Gi

appsettings:
  settings:
    inCluster: true
    databaseLocation: "/data/"
    namespacesToWatch: []

sqliteWeb:
  command: "sqlite_web -P -T -x -H 0.0.0.0 --read-only /data/cluster_log_collector.db"
  password: "pleaseChangeMe!"
  resources:
    memoryRequest: 200Mi
    memoryLimit: 250Mi
  port: 80
  serviceType: LoadBalancer
